.containerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.541);
}

.btnCloseX {
  position: absolute;
  right: 20px;
  top: 20px;

  cursor: pointer;
  transition: all 0.7s;
}
.btnCloseX:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
