.containerSignUp {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.boxFormSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;

  width: 50%;
  height: 100%;
}
.formSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.formSignUpHeader h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}
.formSignUpInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.formSignUpInputs input {
  width: 476px;
  height: 51px;
  padding-left: 5px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  border: 1px solid #e8e8e8;

  color: #968b8b;
  background: #fdfafa;
}
.formSignUpButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.formSignUpButtons button {
  width: 478px;
  height: 50px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  border-radius: 8px;
  border: none;

  transition: all 0.7s;

  color: #ffffff;
}
.formSignUpButtons button:hover {
  opacity: 0.7;
}
#register {
  background: #04c45c;
}
#cancel {
  background: rgba(251, 6, 21, 0.65);
}
.redirectSignIn p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}
.redirectSignIn p span {
  transition: all 0.7s;
  cursor: pointer;
  color: #1972a8;
}
.redirectSignIn p span:hover {
  opacity: 0.7;
}

.boxImageRight {
  width: 50%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}
