.containerSignUp {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.boxFormSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7rem;

  width: 50%;
  height: 100%;
}
.formSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.formSignUpHeader h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;

  color: #000000;
}
.formSignUpInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.formSignUpInputs input {
  width: 47.6rem;
  height: 5.1rem;
  padding-left: 5px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;

  border: 1px solid #e8e8e8;

  color: #968b8b;
  background: #fdfafa;
}
.showAlert {
  color: red;
}
.formSignUpButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.formSignUpButtons button {
  width: 47.8rem;
  height: 5rem;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;

  text-align: center;

  border-radius: 8px;
  border: none;

  transition: all 0.7s;

  color: #ffffff;
}
.formSignUpButtons button:hover {
  opacity: 0.7;
}
#register {
  background: #04c45c;
}
#cancel {
  background: rgba(251, 6, 21, 0.65);
}
.redirectSignIn p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;

  color: #000000;
}
.redirectSignIn p a {
  transition: all 0.7s;
  cursor: pointer;
  color: #1972a8;
  text-decoration: none;
}
.redirectSignIn p a:hover {
  opacity: 0.7;
}

.boxImageRight {
  width: 50%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 1130px) {
  .containerSignUp {
    justify-content: center;
  }
  .boxFormSignUp {
    z-index: 2;
  }
  .boxImageRight {
    width: 100%;
    position: absolute;
    opacity: 0.5;
  }
}

@media (max-width: 630px) {
  .boxFormSignUp {
    width: 100%;
  }
  .formSignUp {
    width: 100%;
  }
  .formSignUpInputs,
  .formSignUpButtons {
    width: 80%;
  }
  .formSignUpInputs input,
  .formSignUpButtons button {
    width: 100%;
    transition: none;
  }
}
