.modalContact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

  position: relative;

  width: 494px;
  height: 563px;

  background: #fffdfd;
  border-radius: 8px;
}
.modalHeaderContactBox h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}
.modalInputsContactBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalInputsContactBox input {
  width: 377.4px;
  height: 51px;
  padding-left: 5px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #968b8b;

  background: #fdfafa;
  border: 1px solid #e8e8e8;
}
.modalButtonsContactbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalButtonsContactbox button {
  width: 377.4px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  border-radius: 8px;
  border: none;

  transition: all 0.7s;

  color: #fff7f7;
}
.modalButtonsContactbox button:hover {
  opacity: 0.5;
}

#btnmodalSalvarContact {
  background: #04c45c;
}
#btnmodalCancelarContact {
  background: rgba(251, 6, 21, 0.65);
}
